@import "bootstrap/scss/functions";
@import "./variables";
@import "./variables-dark";
@import "bootstrap/scss/bootstrap";

.prd-img{
    width: 150px;
    object-fit: cover;
}

.btn:disabled {
    opacity: 0.5;
    background-color: #ccc;
    color: #666;
    border: 1px solid #aaa;
    pointer-events: auto;
}

.btn:disabled:hover {
    cursor: not-allowed !important;
}